<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Sentry SDK local Windows" value="C:\Users\bruno\git\raven-csharp\build" />
    <add key="Sentry SDK local Linux" value="/mnt/c/Users/bruno/git/raven-csharp/build" />
    <add key="Sentry SDK local macOS" value="/Users/bruno/git/raven-csharp/build" />
  </packageSources>
</configuration>
